* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html body{
  height: 100vh;
  margin: 0;
  background-image: url("../img/gplaypattern.png");
}

header{
  width: 960px;
  margin: 0 auto;

}

.tealBackground{
  height: 50px;
  display: inline;
  text-align: center;
  padding: 10px 5px;
  float: left;
}

.container{
  margin-top: 0;
  background-color: #ffffff;
  border-bottom: solid #dddddd;
}


p{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

ul{
  list-style-type: none;
  float: right;
  display: inline;

}

#leftSide{
  float: left;
}

hr{
  border-top: solid 2px #dddddd;
}

h1{
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h2{
  background-color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: white;
}


.content{
  background-color: #ffffff;
  padding: 1em;
  width: 960px;
  margin: 0 auto;
  margin-top: 2.5em;
  min-height: 100%;
  margin-bottom: -90px;
  
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

footer{
  background-color: #666666;
  margin: 0px;
  color: #777777;
  font-weight: bold;
  border-top-color: #4aaaa5;
  text-align: center;
  padding-top: 10px;
}

footer, .content::after{
  height: 90px;
}

input{
  width: 100%;
}

textarea{
  width: 100%;
}

/* .rightSide{ 
  display: block;
  float: right;
} */